<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout1}">

<div layout:fragment="content">

    <div class="panel-heading">List Page</div>
    <div class="panel-body">
        <p>[[${result}]]</p>
        <div>
            <ul class="list-group">
                <li class="list-group-item" th:each="board:${result.content}">[[${board}]]</li>
            </ul>

        </div>
    </div>

</div>

<!--
<div class="panel panel-default" layout:fragment="content"></div>
해당 부분과 연관 layout:fragment
-->

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>


</th:block>
</html>